.article-container {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    margin-bottom: 35px;
    background-color: var(--white);
    color: var(--eerie-black);
    font-family: var(--ff-inter);
    line-height: 1.75;
    font-size: var(--fs-7);
    border-radius: var(--radius-16);
    box-shadow: 0 4px 8px var(--light-gray-2);
  }
  
  .article-container h1, .article-container h2, .article-container h3 {
    color: var(--blue-ryb);
    line-height: 1.3;
  }
  
  .article-container h1 {
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
    margin-bottom: 20px;
  }
  
  .article-container h2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-500);
    margin-bottom: 15px;
  }

  .article-container h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
    margin-bottom: 15px;
  }
  
  .article-container p {
    margin-bottom: 1.5em;
    color: var(--eerie-black);
    font-size: large;
  }
  
  .article-container a {
    color: var(--blue-ryb);
    font-weight: var(--fw-500);
    transition: color var(--transition-1);
  }
  
  .article-container a:hover {
    color: var(--eerie-black);
    text-decoration: underline;
  }
  
  .article-container ul, .article-container ol {
    margin: 20px 0;
    padding-left: 20px;
  }
  
  .article-container ul li, .article-container ol li {
    margin-bottom: 10px;
    color: var(--eerie-black);
  }
  
  .article-container blockquote {
    border-left: 4px solid var(--blue-ryb);
    padding-left: 20px;
    color: var(--eerie-black_80);
    font-style: italic;
    margin: 20px 0;
  }
  
  .article-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: var(--radius-16);
    box-shadow: 0 2px 5px var(--light-gray-2);
  }
  
  .article-container .btn-read-more {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--blue-ryb);
    border-radius: var(--radius-pill);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    text-align: center;
    transition: background-color var(--transition-1);
  }
  
  .article-container .btn-read-more:hover {
    background-color: var(--eerie-black);
  }
  



  .short-line {
    width: 90%; /* Adjust the width as needed */
    border-top: 1px solid #ccc; /* Customize the border as desired */
    margin: 20px auto; /* Center the line horizontally */
  }



  .social-share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .social-share-buttons a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
  
  .social-share-buttons a:hover {
    color: #007bff;
  }
  
  .material-icons {
    font-size: 24px;
  }
  


  #published-date {
    font-weight: 500;
    color: #333;
    display: inline;
  }

  p {
    font-weight: 500;
  }